.about,.ptag
{
	font-family: annie-use-your-telescope-n4, sans-serif;
}

.title,.title2
{
	font-family: lobster-two-n7, cursive;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u1078-4
{
	font-family: dosis-n3, sans-serif;
}

#u1096-4
{
	font-family: dosis-n3, sans-serif;
}

#u1089-4
{
	font-family: dosis-n3, sans-serif;
}

#u1082-4
{
	font-family: dosis-n3, sans-serif;
}

#u462-4,#u1049-4,#u1226-4,#u1788-4,#u1843-4
{
	font-family: lobster-two-n7, cursive;
}

#u334-4,#u461-19,#u528-4,#u1844-6
{
	font-family: gloria-hallelujah-n4, sans-serif;
}

#u1761-4,#u1762-4,#u1759-4,#u1760-4,#u1733-4,#u1734-4,#u1757-4,#u1758-4,#u1763-4,#u1764-4,#u1765-4,#u1766-4,#u1767-4,#u1768-4,#u1769-4,#u1770-4,#u1771-4,#u1772-4,#u1773-4,#u1774-4,#u1775-4,#u1776-4,#u1777-4,#u1778-4,#u1779-4,#u1780-4,#u1870-4,#u1872-7
{
	font-family: dosis-n3, sans-serif;
}